.ui-widget-overlay {
   background: #666;
   opacity: .30;
   filter: Alpha(Opacity=30);
   position:fixed;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-titlebar {
	background: linear-gradient(to top, #ccc 0%,#bbb 20%,#eee 100%);
	border: 1px solid #AAA;
}

.answeredButton {
	background: linear-gradient(to top, #9fd 0%,#7db 20%,#afd 100%);
	background-color:#afc;
	text-shadow: none;
}

span.VQControls {
	font-size: 150%;
}

.augment {
	height: 80px;
	width: 800px;
	
	margin: 3px;
	
	display: inline-block;
	vertical-align: top;
	
	white-space: normal;
	overflow: hidden;
}

.augmenttab {
	height: 25px;
	width: 25px;
	
	margin: 2px;
	margin-right: 10px;
	border: none;
	padding: 2px;
	
	display: inline-block;
	vertical-align: top;
}

.greyout {
	opacity: 0.4;
}

.blockCap {
    float: left;
    height: 75px;
    margin-right: 2px;
}

div.augment > span.title{
	font-weight: bold;
}

div.augment > p{
	font-size: 80%;
}

span#onoff {
	font-weight: bold;
}

span#playpauseword{
	font-weight: bold;
}

div#augments{
	display:none;
}

div#augmenttray{
	width: 818px;
	height: 50px;
	position: relative;
	
	border: 1px solid black;
	
	white-space: nowrap;
	
	overflow-x: scroll;
	overflow-y: hidden;
}

div#augmenttext{
	width: 818px;
	height: 80px;
	position: relative;
	
	border: 1px solid black;
	
	overflow: hidden;
}